[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
libzim = "*"
warcio = "*"
html2text = "*"
cython = "*"

[dev-packages]
debug = "*"

[requires]
python_version = "3.9"
